<link rel="stylesheet" href="/index.css">
<script src="https://kit.fontawesome.com/fc529a0756.js" crossorigin="anonymous"></script>
<body>{{#with myData.education}}
    <div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Educational history</h3></div>
							<div><h2>Time line</h2></div>
							<div><h4>current</h4></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fas fa-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Kindergarten</h3>
									<span class="company">{{education1}} - 2002 - 2004</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fas fa-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Elementary school</h3>
									<span class="company">{{education2}} - 2005 - 2010</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="fas fa-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">High school</h3>
									<span class="company">{{education3}} - 2011 - 2017</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="fas fa-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">University</h3>
									<span class="company">{{education4}} - 2018 - Current</span>
								</div>
								<div class="timeline-body">
									<p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</li>
						
	</div>
{{/with}}</body>